.container {
  width: 100%;
  background: linear-gradient(180deg,rgba(16, 17, 23, 1) 0%, rgba(37, 37, 39, 1) 100%);
}
.wrap {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  padding: 10rem 2.813rem 2rem;
}
.titleBox {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}
.title {
  font-size: var(--title-font-size);
  font-weight: 700;
}
.orangeText {
  color: var(--color-main);
}
.worryBox {
  // background-color: gray;
  height: 34.375rem;
  margin-top: 5rem;
  position: relative;
}
.worryEach {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.worryBox li {
  &:nth-child(1) {
    top: 10%;
    left: 4%;
  }
  &:nth-child(2) {
    top: 0%;
    left: 42%;
  }
  &:nth-child(3) {
    right: 0%;
    top: 25%;
  }
  &:nth-child(4) {
    left: 2%;
    bottom: 4%;
  }
  &:nth-child(5) {
    left: 35%;
    top: 42%;
  }
  &:nth-child(6) {
    right: 10%;
    bottom: 0%;
  }
}
.worryTxt {
  padding-left: 0.313rem;
  &:hover {
    
  }
}
@keyframes bounce {
  
}