.container {
  width: 100%;
  background-image: url("../resources/bgShine.png");
  background-size: cover;
}
.wrap {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  padding: 10rem 2.813rem 10rem;
}
.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;
}
.title {
  font-size: var(--title-font-size);
  font-weight: 700;
}
.orangeText {
  color: var(--color-main);
  font-size: 4.2rem;
}
.subTitle {
  font-size: var(--subTitle-font-size);
}
.subOrangeText {
  color: var(--color-main);
  font-size: 2rem;
}