.container {
  width: 100%;
  background: linear-gradient(180deg,rgba(37, 37, 39, 1) 0%, rgba(16, 17, 23, 1) 100%);
}
.wrap {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  padding: 10rem 2.813rem 0;
}
.part1, .part2 {
  padding-bottom: 10rem;
}
.titleBox {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}
.title {
  font-size: var(--title-font-size);
  font-weight: 700;
  &.heading1 {
    font-size: 4rem;
  }
}
.orangeText {
  color: var(--color-main);
}
.subTitle {
  font-size: var(--subTitle-font-size);
  &.heading1Sub {
    font-size: 1.625rem;
  }
}

.cardBox {
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.leftBox {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  align-items: center;
}
.rightBox {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  align-items: center;
}
.cardBoxTitle {
  font-size: 1.35rem;
  background-color: #373741;
  border-radius: 100px;
  width: fit-content;
  padding: 1rem 2rem 0.9rem 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.cardBoxImage {
  background-color: #373741;
  border-radius: 0.875rem;
  width: 25.875rem;
  height: 21.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBoxReference {
  font-size: 1rem;
  color: var(--color-gray-bright);
  font-weight: 500;
  text-align: center;
}
.centerBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.centerBoxTxt {
  text-align: center;
  font-size: 1.563rem;
  &.last {
    font-weight: 700;
    font-size: 3.125rem;
    padding-top: 10px;
  }
}
.centerBoxReference {
  font-size: 1.125rem;
  color: var(--color-gray-bright);
  font-weight: 500;
  text-align: center;
  padding-top: 1rem;
}
.bigTxt {
  font-weight: 700;
  font-size: 3.125rem;
}
.biggestTxt {
  font-size: 4.75rem;
  background-color: var(--color-main);
  padding: 10px 10px 0 10px;
}
.circleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 6rem 0;
}
.leftCircleBoxWrap {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftCircleBoxNum {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.375rem;
  font-weight: 700;
}
.rightCircleBoxWrap {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expandCircle1, .expandCircle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.3;
}
.expandCircle1 {
  // transform: translate(-50%, -50%) scale(1.1);
  animation: expand1 1s ease-in-out infinite alternate;
}
.expandCircle2 {
  // transform: translate(-50%, -50%) scale(1.2);
  animation: expand2 1s ease-in-out infinite alternate;
}
@keyframes expand1 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@keyframes expand2 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}



.rightCircleBoxNum {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.625rem;
  font-weight: 700;
}
.circleBoxLable {
  font-size: 1.5rem;
  color: var(--color-gray-bright);
  padding-top: 4rem;
  text-align: center;
}
.arrowBox {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.arrowBoxSubBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.arrowBoxWhiteTxt {
  font-size: 2.875rem;
  font-weight: 700;
  width: 18.75rem;
  text-align: center;
}
.arrowBoxWhiteGradientTxt {
  font-size: 2.875rem;
  font-weight: 700;
  background: var(--linear-gradient-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.arrowBundle img {
  opacity: 0;
  &:nth-child(1) {
    animation: arrowOpacity 3s ease-in-out infinite;
  }
  &:nth-child(2) {
    animation: arrowOpacity 3s 0.2s ease-in-out infinite;
  }
  &:nth-child(3) {
    animation: arrowOpacity 3s 0.4s ease-in-out infinite;
  }
  &:nth-child(4) {
    animation: arrowOpacity 3s 0.6s ease-in-out infinite;
  }
  &:nth-child(5) {
    animation: arrowOpacity 3s 0.8s ease-in-out infinite;
  }
}
@keyframes arrowOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}