.container {
  width: 100%;
  background-image: url("../resources/bgCircle.png");
  background-size: cover;
  background-position: center center;
}
.wrap {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  padding: 10rem 2.813rem 10rem;
}
.titleBox {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  padding-bottom: 10rem;
}
.title {
  font-size: var(--title-font-size);
  font-weight: 700;
}
.orangeText {
  color: var(--color-main);
}
.subTitle {
  font-size: var(--subTitle-font-size);
}

.diagramBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  height: 600px;
  // background-color: rgb(138, 122, 122);
  position: relative;
}
.smile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.diagramImgBox {
  width: 40.125rem;
  height: 40.125rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.diagramImgBox img {
  width: 80%;
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.diagramTxtBoxWrap {
  width: 40.125rem;
  height: 40.125rem;
  position: absolute;
}
.diagramSubTxt {
  font-size: 1rem;
  color: #aaa;
}

.diagramTxtBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  &.index0 {
    top: 2%;
    right: 64%;
    align-items: flex-end;
  }
  &.index1 {
    right: 42%;
    bottom: 78%;
  }
  &.index2 {
    top: 17%;
    right: 22%;
  }
  &.index3 {
    top: 26%;
    right: 17%;
  }
  &.index4 {
    bottom: 15%;
    left: 65%;
  }
}
.diagramKeyBig {
  font-size: 3rem;
  font-weight: 700;
}
.diagramValueBig {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-main);
  white-space: nowrap;
  background: var(--linear-gradient-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bigTxt {
  font-size: 6rem;
}
.diagramKey {
  font-size: 1.375rem;
  font-weight: 700;
  white-space: nowrap;
}
.diagramValue {
  font-size: 1.375rem;
  font-weight: 700;
  color: #aaa;
}